In [1]:
import os
os.getlogin()

'91939'

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\91939\Downloads\customer_shopping_behaviour.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\91939\\Downloads\\customer_shopping_behaviour.csv'

In [3]:
from pathlib import Path
for f in (Path.home() / "Downloads").iterdir():
    print(f)

C:\Users\91939\Downloads\.ipynb_checkpoints
C:\Users\91939\Downloads\4lxHuPd-RZeR1M_fwD76pw_8acf535e02ec44f6a8731f7d47fb49e1_Adventure-Works-Inventory.xlsx
C:\Users\91939\Downloads\Activity-Theme-Import.pbix
C:\Users\91939\Downloads\Adventure-Works-Data.xlsx
C:\Users\91939\Downloads\Adventure-Works-Sales (1).pbix
C:\Users\91939\Downloads\Adventure-Works-Sales (1).xlsx
C:\Users\91939\Downloads\Adventure-Works-Sales.xlsx
C:\Users\91939\Downloads\Adventure-Works.pbix
C:\Users\91939\Downloads\Anaconda3-2025.12-1-Windows-x86_64.exe
C:\Users\91939\Downloads\analysis_project.ipynb
C:\Users\91939\Downloads\archive.zip
C:\Users\91939\Downloads\AYUSHI TOURS & TRAVELS.mp4
C:\Users\91939\Downloads\bin
C:\Users\91939\Downloads\blinkit_customer_feedbacks.xlsx
C:\Users\91939\Downloads\Blinkit_database
C:\Users\91939\Downloads\blinkit_feedback_by_category.xlsx
C:\Users\91939\Downloads\blinkit_products.csv
C:\Users\91939\Downloads\bm0kUdYCQpScZMVP26YXnQ_a05fde87ec7b4886adde30237e9bc5a1_Adventure-Works-Data.xlsx
C:\Users\91939\Downloads\category_product_list.xlsx
C:\Users\91939\Downloads\CertificateOfCompletion_Career Essentials in Data Analysis by Microsoft and LinkedIn.pdf
C:\Users\91939\Downloads\certificates
C:\Users\91939\Downloads\Chart for Q#3.png
C:\Users\91939\Downloads\ChatGPT Image May 22, 2025, 12_27_00 AM.png
C:\Users\91939\Downloads\ChromeSetup.exe
C:\Users\91939\Downloads\cleaned_product_names.xlsx
C:\Users\91939\Downloads\Copy of DataWolfs DP 900 Dumps.pdf
C:\Users\91939\Downloads\coursera activity
C:\Users\91939\Downloads\CSV Dataset - [23,24]-20250601T175605Z-1-001.zip
C:\Users\91939\Downloads\customer_behavior_dashboard.pbix
C:\Users\91939\Downloads\Customer_Behaviour_Dashboard.pbix
C:\Users\91939\Downloads\customer_shopping_behavior.csv
C:\Users\91939\Downloads\customer_shopping_behavior.xlsx
C:\Users\91939\Downloads\cv3j169mSpqpSAvNFgwyuQ_8b2b8d784ceb493281c9ff9423b599e1_Adventure-Works-Sales.pbix
C:\Users\91939\Downloads\D7p1ioCkEeiC-BK3XY5K_A_0fd9963080a411e8a0de03dda17d7b70_CoffeeMaker_JUnit_Golden
C:\Users\91939\Downloads\D7rqu4CkEeiC-BK3XY5K_A_0fd9bd4080a411e8b21fcf9d7eb90047_CoffeeMaker_JUnit_Assign
C:\Users\91939\Downloads\Data File.xlsx
C:\Users\91939\Downloads\data_analyst_project.ipynb
C:\Users\91939\Downloads\Desktop - Shortcut.lnk
C:\Users\91939\Downloads\desktop.ini
C:\Users\91939\Downloads\DiscordSetup.exe
C:\Users\91939\Downloads\eclipse
C:\Users\91939\Downloads\Episode 1 - Marketing Analytics Business Case (Clean).pptx
C:\Users\91939\Downloads\Episode 2 - PortfolioProject_MarketingAnalytics.bak
C:\Users\91939\Downloads\export and printing reports.pbix
C:\Users\91939\Downloads\graphAuth
C:\Users\91939\Downloads\Graphical-Password-main
C:\Users\91939\Downloads\IBAWindowsLauncher
C:\Users\91939\Downloads\IBAWindowsLauncher (1)
C:\Users\91939\Downloads\JD6NwErNQ3K3ZVdQf0fTTg_5230b9f415c54198aea0c0eb4ce6bae1_Sales-Report.pbix
C:\Users\91939\Downloads\jio docs
C:\Users\91939\Downloads\LkOYKpJ7RcWiYMsqiJQZJw_c2c0dcdd9dcd41b6bc8f056fd7c6c2e1_Activity-Index-Column.xlsx
C:\Users\91939\Downloads\LqgjuTmFSgG-OozkTjzmOA_76fc4cf9ae254975b9d310a79697afe1_Adventure-Works-Sales---Data-Hierarchy.xlsx
C:\Users\91939\Downloads\manali-20230124T084734Z-002
C:\Users\91939\Downloads\Minor_project-main
C:\Users\91939\Downloads\mysql-connector-net-9.3.0.msi
C:\Users\91939\Downloads\mysql-connector-odbc-9.3.0-winx64
C:\Users\91939\Downloads\mysql-connector-odbc-9.3.0-winx64.zip
C:\Users\91939\Downloads\mysql-installer-web-community-8.0.42.0.msi
C:\Users\91939\Downloads\npp.8.9.Installer.x64.exe
C:\Users\91939\Downloads\Part-1-20250531T153149Z-1-001
C:\Users\91939\Downloads\Part-1-20250531T153149Z-1-001.zip
C:\Users\91939\Downloads\passport_photo.jpg
C:\Users\91939\Downloads\PBIDesktopSetup_x64.exe
C:\Users\91939\Downloads\pgadmin4-9.11-x64.exe
C:\Users\91939\Downloads\Photos-001
C:\Users\91939\Downloads\PL-300 Mock Exam questions.pdf
C:\Users\91939\Downloads\PL-300-Updated-Part-1 (1).pdf
C:\Users\91939\Downloads\PL-300-Updated-Part-1 (2).pdf
C:\Users\91939\Downloads\PL-300-Updated-Part-1.pdf
C:\Users\91939\Downloads\PL-300-Updated-Part-2.pdf
C:\Users\91939\Downloads\pl-300_copy.pdf
C:\Users\91939\Downloads\PL300_1_to_9_Merged.pdf
C:\Users\91939\Downloads\postgresql-18.1-2-windows-x64.exe
C:\Users\91939\Downloads\Revised INC Signing Documents & Guidelines
C:\Users\91939\Downloads\RobinSajan_resume.pdf
C:\Users\91939\Downloads\rvEZ432iRNGxqHWbky0cBQ_9f0b2d9c2ce040d98a142fbd26d963a1_Activity-Theme-Export.pbix
C:\Users\91939\Downloads\SAB_Tool_Windows_Whitelabel_141228
C:\Users\91939\Downloads\Sales-Categorical-Analysis.pbix
C:\Users\91939\Downloads\SalesOrders
C:\Users\91939\Downloads\SalesOrders.zip
C:\Users\91939\Downloads\shokh sandesh (1).jpg
C:\Users\91939\Downloads\Sorting
C:\Users\91939\Downloads\SQL2025-SSEI-Expr.exe
C:\Users\91939\Downloads\sqlite-tools-win32-x86-3360000
C:\Users\91939\Downloads\Theme.json
C:\Users\91939\Downloads\Time-series-analysis.pbix
C:\Users\91939\Downloads\TjwoSWTYQymdhtunG6vFfg_af0e0bc43d2c405cad4b84f315edb4e1_SalesSummary.pbix
C:\Users\91939\Downloads\Vaishnavi Katailiha Resume.pdf
C:\Users\91939\Downloads\Vaishnavi Katailiha _Resume.pdf
C:\Users\91939\Downloads\Vaishnavi Katailiha-Resume(IBM).docx
C:\Users\91939\Downloads\Vaishnavi Katailiha-Resume(IBM).pdf
C:\Users\91939\Downloads\Vaishnavi Katailiha_resume.pdf
C:\Users\91939\Downloads\VAISHNAVI-KATAILIHA-FlowCV-Resume-20251016.pdf
C:\Users\91939\Downloads\Vaishnavi-Katailiha-Resume.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha gs.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha Resume pgs.pdf.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha Resume_pgs.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_ Resume old.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Associate_Data_Researcher_Resume.docx
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_GoldmanSachs old.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_GoldmanSachs.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_IBM.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_KPMG.pdf
C:\Users\91939\Downloads\Vaishnavi_katailiha_Resume_Paypal.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_Saks_Global.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_Target.pdf
C:\Users\91939\Downloads\Vaishnavi_Katailiha_Resume_ZS_Associates.pdf
C:\Users\91939\Downloads\Vikzk3u_QWWwaTSb3oldhQ_95bec5ecedf348cc9ec165dcfcc0e6e1_Adventure-Works.pbix
C:\Users\91939\Downloads\vs_SSMS.exe
C:\Users\91939\Downloads\WQYvsQjMRSeGsas8zOuuew_58e80f7ba4b243a0a7ff9aaf519d33e1_Adventure-Works-Sales.xlsx
C:\Users\91939\Downloads\_d98c8a8f40b2003f1ac87e71d3e984f9_IntroToUnitTesting

In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\91939\Downloads\customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [5]:
df.info

<bound method DataFrame.info of       Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
0               3.1                 Yes         Express              Yes
1               3.1                 Yes         Express              Yes
2               3.1                 Yes   Free Shipping              Yes
3               3.5                 Yes    Next Day Air              Yes
4               2.7                 Yes   Free Shipping              Yes
...             ...                 ...             ...              ...
3895            4.2                  No  2-Day Shipping               No
3896            4.5                  No    Store Pickup               No
3897            2.9                  No        Standard               No
3898            3.8                  No         Express               No
3899            3.1                  No    Store Pickup               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                Yes                  14          Venmo            Fortnightly
1                Yes                   2           Cash            Fortnightly
2                Yes                  23    Credit Card                 Weekly
3                Yes                  49         PayPal                 Weekly
4                Yes                  31         PayPal               Annually
...              ...                 ...            ...                    ...
3895              No                  32          Venmo                 Weekly
3896              No                  41  Bank Transfer              Bi-Weekly
3897              No                  24          Venmo              Quarterly
3898              No                  24          Venmo                 Weekly
3899              No                  33          Venmo              Quarterly

[3900 rows x 18 columns]>

In [6]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [7]:
df.describe(include = 'all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [8]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [9]:
df.groupby("Category")["Review Rating"].median()

Category
Accessories    3.8
Clothing       3.7
Footwear       3.8
Outerwear      3.8
Name: Review Rating, dtype: float64

In [10]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [11]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [12]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [13]:
df.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount_(usd)     0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

In [14]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [16]:
## create a column age_group
## quantile binning concept 
labels = ['Young', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'],q=4, labels = labels)

In [17]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19        Young
2   50  Middle-aged
3   21        Young
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27        Young
8   26        Young
9   57  Middle-aged

In [18]:
##create purchase_frequency_days column
frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
df['purchase_frequency_days']= df['frequency_of_purchases'].map(frequency_mapping)

In [19]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [20]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [21]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [22]:
df = df.drop('promo_code_used', axis=1)

In [23]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [ ]:
## psycopg2-binary - allows python to talk to postgreSql
## sqlalchemy - Makes database work easier, supports ORM & SQL tools
%pip install psycopg2-binary sqlalchemy

In [ ]:
from sqlalchemy import create_engine
import urllib.parse

# Step 1: Connection details
username = "postgres"                 # default user
password = urllib.parse.quote_plus("Password@098")  # encode special chars
host = "localhost"                    # NOT 5432
port = 5432                           # integer, not string
database = "customer_behaviour"

# Step 2: Create engine
engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

# Step 3: Load dataframe to PostgreSQL
table_name = "customer"
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

In [ ]:
from sqlalchemy import text

table_to_drop = "customertable"

with engine.begin() as conn:
    conn.execute(text(f'DROP TABLE IF EXISTS "{table_to_drop}" CASCADE;'))

print("Table dropped successfully!")